@import "/include/2013/cnav2013.css";
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 14px;
  color: #333333;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.body_mod {
  width: 100%;
  margin: 0 auto;
}
.dealer_body_wrap {
  width: 960px;
  margin: 10px auto;
  overflow: hidden;
  *zoom: 1;
}

/*侧边栏*/
.left_menu_bar {
  width: 160px;
  padding-bottom: 50px;
  margin-right: 20px;
  float: left;
  border: 1px solid #e7e7e7;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}
.left_menu_bar .l_menu_lst {
  margin-left: 5px;
}
.left_menu_bar .l_menu_lst li {
  padding: 10px 15px;
}
.left_menu_bar .l_menu_lst li a {
  padding-left: 12px;
  display: block;
  color: #666;
  margin-top: 10px;
}
.left_menu_bar .l_menu_lst li.current {
  position: relative;
  margin: -1px 0 0 -1px;
  width: 169px;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-width: 1px 0 1px 1px;
}
.left_menu_bar .l_menu_lst a.current {
  color: #c1252e;
  font-weight: bold;
}
.left_menu_bar .l_menu_lst .f_til_label {
  font-size: 14px;
  margin: 0;
  line-height: 28px;
  font-weight: bold;
  padding-left: 12px;
  background: url(images/l_menu_spot.gif) no-repeat 0 center;
}
.left_menu_bar .l_menu_lst li.index {
  padding: 0 15px;
}
.left_menu_bar .l_menu_lst li.index h3 {
  padding-left: 0px;
}
.left_menu_bar .l_menu_lst li.index h3 a {
  color: #252525;
}
.main_content {
  float: left;
  width: 770px;
  margin-bottom: 10px;
}
.main_content h2 {
  display: inline-block;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}
.main_content .main_suggest_btn {
  margin-left: 10px;
}
.main_content .big-width {
  width: 250px;
}
.main_content .help-block {
  color: #999999;
  font-size: 12px;
}
.main_content #no_data {
  margin-top: 20px;
  text-align: center;
}

/*copyright*/
.copyright_nav {
  clear: both;
  border: 1px solid #e7e7e7;
  line-height: 40px;
  text-align: center;
  background: #f6f6f6;
  color: #666;
}
.copyright_nav p {
  margin: 0px;
  padding: 5px 0px;
}
/*首页*/

.index_content .hello_client {
  margin-left: 20px;
  margin-bottom: 30px;
}
.index_content .hello_client .hello_word {
  margin-top: 20px;
  font-size: 24px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif;
}
.index_content .hello_client .hello_word strong {
  color: #FFBC5C;
  font-weight: normal;
}
.index_content .hello_client .todo_lst {
  margin-top: 30px;
}
.index_content .hello_client .todo_lst label {
  display: inline-block;
  color: #666666;
}
.index_content .hello_client .todo_lst a {
  margin: 0 5px;
}
.index_content .data_info_show {
  width: 500px;
  height: 150px;
  margin: 30px 0 20px 20px;
  color: #666666;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  padding: 8px 35px 8px 14px;
}
.index_content .data_info_show .lst_data_info {
  padding-left: 40px;
}
.index_content .data_info_show .lst_data_info .col_l {
  float: left;
  width: 200px;
  margin-right: 40px;
}
.index_content .data_info_show .lst_data_info .col_r {
  float: left;
  width: 200px;
}
.index_content .data_info_show strong {
  color: #C09853;
  padding-right: 5px;
}

/*面包屑导航*/
.breadcrumb {
  background-color: #f5f5f5;
  border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}
.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb > .active {
    color: #999999;
}

/*按钮*/
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn-danger {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover{
  text-decoration: none;
}