/*COMMON*/
body {line-height:1.5;font-family:arial,"宋体";background:#ffffff;font-size:14px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:normal;
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    *font-size:100%;
}
fieldset,img,a img,:link img,:visited img{border:0;}
a{text-decoration:none;}
a:hover {text-decoration:underline;}
:focus {outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
sup,sub {font-size:100%;vertical-align:baseline;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
.clear,.clearfix:after {clear:both;height:0;overflow:hidden;display:block;}
.clearfix:after {visibility:hidden;content:".";}
.clearfix{*zoom:1;}

/*论文头部信息*/
body{width: 100%; height: 100%; background-color: #f6f6f6;}
.paper_wrap {
	width:960px;
	margin:0 auto;
	padding: 0 8px;
	background-color: #fff;
	box-shadow: 0 0 8px #666;
}
h1 {
	font-size: 28px;
	font-family:SimHei,SimSum,Arial;
	font-weight: normal;
	text-align: center;
	padding-top: 20px;
}
.paper_wrap h2{
	font-size: 16px;
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 5px 15px;
}
.paper_wrap .paper_abstract h2, .paper_wrap .key_words h2{
	padding-left: 10px;
}
.paper_infor{
	width: 700px;
	margin: 10px auto 0px;
}
.paper_author{
	font-weight: normal;
	font-size: 18px;
	margin-left: 140px;
	color: #0088cc;
	float: left;
}
.paper_abstract{
	margin-top: 30px;
	line-height: 24px;
}
.paper_abstract h2, .key_words h2{font-size: 16px; font-weight: normal;}
.key_words h2{margin-top: 18px;}
.paper_abstract p, .key_words p{text-indent: 2em; margin-top: 5px;}

/*论文主体*/
.paper_content {width: 700px;margin: 20px auto 0px;line-height: 24px;}
.paper_introduction p{margin-top: 18px;text-indent: 2em;}
a.wenxian{margin-right: 3px;color:#0088cc; font-size: 12px;}
a.wenxian:hover{color:#c1252e;}

/*论点1*/
.topic_one{margin-top: 18px;}
.topic_one p{margin-top: 18px;text-indent: 2em;}
p.function{
	float: left;
	font-size: 18px;
	font-family:SimHei,SimSum,Arial;
	font-weight: bold;
	margin-left: 50px;
	margin-bottom: 20px;
	color: #faa732;
}
.index{
	background-color: #519cea;
	border-radius: 2px;
	color: #fff;
	display:block;
	float: right;
	margin-top: 18px;
	margin-right: 30px;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 25px;
}
.comment{clear: both;font-size: 12px; color: #666;}
.data{
	font-size: 18px;
	font-family:SimHei,SimSum,Arial;
	font-weight: bold;
	color: #faa732;

}
.topic_two{clear: both;}
.topic_two p{margin-top: 18px;text-indent: 2em;}
p.clearfix{clear: both;}

.conclusion{margin-top: 20px;}
.conclusion h2{
	font-size: 16px;
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 5px 15px;
}
.conclusion p{margin-top: 18px;text-indent: 2em;}

/*参考文献*/
.paper_reference{margin: 20px auto 0px;width: 700px;padding-bottom: 50px;}
.paper_reference ul{margin-top: 18px;line-height: 24px;}
.paper_reference ul li .refer_index{padding-right:8px;}
.paper_reference ul li em{float: right;}
.paper_reference ul li .refer_link{
	background: url(../images/pdf2.png) no-repeat;
	padding: 0px 5px 0px 17px;
	margin-left: 5px;
	color: #0088cc;
}
.paper_reference ul li .refer_link:hover{color:#c1252e;}

/*.paper_download_link{margin: 20px auto 0px;width: 700px;padding-bottom: 50px;}
.paper_download_link h2{margin: 30px 0px;}*/
.paper_download {
	padding: 8px 16px;
	margin-left: 182px;
	font-size: 14px;
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
	border-radius: 4px;
}
.paper_download_link:hover{
	background-color: #449d44;
	border-color: #398439;
	color: #fff;
	text-decoration: none;
}
