/*COMMON*/
body {line-height:1.5;font-family:arial,"宋体";background:#ffffff;font-size:14px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:normal;
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    *font-size:100%;
}
fieldset,img,a img,:link img,:visited img{border:0;}
a{text-decoration:none;}
a:hover {text-decoration:underline;}
:focus {outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
sup,sub {font-size:100%;vertical-align:baseline;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
.clear,.clearfix:after {clear:both;height:0;overflow:hidden;display:block;}
.clearfix:after {visibility:hidden;content:".";}
.clearfix{*zoom:1;}

/*special*/
.animation_wrap {
	width: 700px;
	height: 400px;
	margin: 40px auto 0px;
	padding: 20px;
	border: 1px solid #d6d6d6;
	background-color: #f5f5f5;
	position: relative;
}
.moving_block{
	width: 80px;
	height: 80px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
	margin: 120px 0px 50px;
	left: 20px;
	position: absolute;
	color: #ffffff;
	background-color: #da4f49;
}
.animation_wrap a{
	font-size: 14px;
	padding: 8px 16px;
	border-color: #4cae4c;
	border-radius: 4px;	
	color: #fff;
	background-color: #5cb85c;
	position: absolute;
	top: 250px;
}
.animation_wrap a:hover{
	background-color: #449d44;
	border-color: #398439;
	color: #fff;
	text-decoration: none;
}

.animation_wrap a.reset_btn {
	background-color: #5bc0de;
	left: 150px;
}