/*common css*/
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: arial,"宋体";
  font-size: 12px;
  line-height: 1.5;
}
p a h1 h2 h3 h4{
  font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
/*轮播*/
.sec_top {
  width: 100%;
  height: 480px;
  background: #f8f8f8;
}
.sec_top .sec_top_bd {
  width: 960px;
  height: 350px;
  margin: 0 auto;
  padding-top: 25px;
}

.mod_focus {
  width: 650px;
  height: 420px;
  overflow: hidden;
  line-height: 1.8;
  position: relative;
  margin: 0 auto 20px;
}
.mod_focus .focus_body {
  width: 650px;
  height: 420px;
  overflow: hidden;
  position: relative;
}
.mod_focus .focus_body ul {
  width: 5000px;
  overflow: hidden;
  padding-left: 0px;
}
.mod_focus .focus_body ul li {
  float: left;
  width: 650px;
  height: 420px;
  position: relative;
}
.mod_focus .focus_body ul li a img {
  width: 650px;
  height: 420px;
}
.mod_focus .focus_body ul li .info {
  width: 650px;
  height: 50px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url(images/tm.png) repeat;
}
.mod_focus .focus_body ul li .info p {
  margin: 0 0 0 20px;
  line-height: 50px;
  font-size: 20px;
}
.mod_focus .focus_body ul li .info p a {
  color: #ffffff;
}
.mod_focus .focus_prev,
.mod_focus .focus_next {
  position: absolute;
  z-index: 3;
  overflow: hidden;
}
.mod_focus .focus_prev {
  left: -20px;
  top: 180px;
}
.mod_focus .focus_next {
  right: -20px;
  top: 180px;
}
.mod_focus .focus_ctrl {
  text-align: center;
  position: absolute;
  width: 160px;
  right: 0px;
  bottom: 12px;
}
.mod_focus .focus_ctrl span {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffffff;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  display: inline-block;
}
.mod_focus .focus_ctrl .current {
  background: #d73232;
}